@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300, 400, 600, 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfMZg.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400, 600, 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/playfairdisplay/v22/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvUDQ.ttf')
    format('truetype');
}

:root {
  --spacing: 1rem;
  --max-width: 1400px;
  --color-text: #222;
  --color-link: #069;
  --color-border: #ccc;
  --font-size: 16px;
  --font-family-base: 'Inter', helvetica, arial, sans-serif;
  --font-family-heading: 'Playfair Display', georgia, serif;
}

/** Reset **/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: bisque;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  line-height: 1.5;
  font-family: var(--font-family-base);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  font-family: var(--font-family-heading);
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

main {
  width: 100%;
  max-width: 800px;
  padding: 0 2rem;
  margin: 2rem auto;
}

li {
  list-style-type: none;
  margin: 0.5rem;
}

form > ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form > ul > li {
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0;
}

form > ul > li > ul {
  padding: 1rem 0;
  margin: 0;
}

form > ul > li > ul > li {
  margin: 0.5rem 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-family: var(--font-family-heading);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

/** Button settings **/
button {
  margin: 2rem 0;
  padding: 0.5rem 2rem;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #ddd;
  color: #333;
  font-size: 1.5rem;
  transition:
    border-color 300ms ease-in-out,
    background-color 300ms ease-in-out,
    color 300ms ease-in-out;
}

button:hover {
  border-color: #ddd;
  background-color: #333;
  color: #ddd;
}

#navback {
  margin: 1rem 0;
  padding: 0.5rem 0;
}

#result {
  font-family: var(--font-family-heading);
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
}

/** Answer coloring **/
.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: red;
  font-weight: bold;
}
