<%- include('header') -%>

<form method="post" action="/form-category">
  <label for="name">Heiti flokks: </label>
  <input type="text" id="name" name="name" placeholder="Nafn flokks"/>
  <button type="submit">Senda inn</button>
</form>

<%- include('footer') -%>
